* {
  box-sizing: border-box;

}

h1{
  text-align: center;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;

}

.section{
  margin:15px;
  border: 1px solid black;
  background-color: #b0bfbb;
  padding:15px;
  padding-top: 50px;
  position: relative;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  padding-bottom: 30px;

}

.head{

  position: absolute;
  top: 0px;
  right: 1px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  margin: 0px;
  margin-right: -1px;
  width: 40%;
  font-size: 140%;
  border-top: 0px;
  border-right: 0px;

}


.agar{
background-color: #f7f574;
}


.gag{
background-color: #f966c1;
}

.facebook{
background-color: #00EE76;
}


.agar:hover{
    background-color: 	#00B2EE;
}

.gag:hover{
  background-color: #FF8C00;
}

.facebook:hover{
  background-color: #FFC0CB;
}

@media (min-width:992px) {
  .col-lg-1{
    float:left;
    width: 33.33%;
  }
}

@media(min-width:768px) and (max-width:991px){
  .col-md-1,.col-md-2{
    float: left;
  }

  .col-md-1{
    width: 50%;
  }

  .col-md-2{
    width: 100%;
  }

}

@media (max-width:767px) {
  .col-sm-1{
    float: left;
    width: 100%;
  }
}
